<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MERUPU NEWS</title>
    <link rel="stylesheet" href="/dashboard.css">
</head>
<body>
    <header>
        <h1>Merupu News App Admin Dashboard</h1>
        <!-- Add any navigation or user information here if needed -->
    </header>

    <div class="container">
        <!-- sidebar -->
        <%- include('./partials/sidebar')%>

        <div class="main-content">
            <!-- All Articles Table -->
            <h2>All Unpublished Articles</h2>
            <div class="articles-table">
                <!-- Table to display all articles -->
                <table>
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Reporter</th>
                            <th>Date</th>
                            <th>District</th>
                            <th>Image</th>
                            <th>Video</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Populate table rows with all articles from the database -->
                        <% for (let article of articles) { %>
                          <!--  <% if(article.district) { %>
                                <% district = article.district %>
                              <% } %> -->
                              
                        <tr>
                            <% date = article.publishedAt.toString().substring(0,16) %>
                            <% title = article.title.toString().substring(0,50) %>
                            <td><%= title %></td>
                            <td><%= article.author %></td>
                            <td><%= date %></td>
                            <td style="color: rgb(231, 154, 0);"><%= article.district %></td>
                            <td style="cursor: pointer;" onclick="window.location.href='<%= article.url %>'"><%= article.url === "" ? '❌' : '✔️' %></td>
                            <td style="cursor: pointer;" onclick="window.location.href='<%= article.videoUrl %>'" ><%= article.videoUrl === "" ? '❌' : '✔️' %></td>
                            <td>
                                <form style="display: inline;" method="POST" action="/admin/article/publish/<%= article._id%>?_method=PUT">
                                    <button class="btn-delete" style="background-color: aquamarine;">Publish</button>
                                </form>
                                <a href="/admin/article/<%= article._id%>/edit"><button class="btn-edit">Edit</button></a>
                                <form style="display: inline;" method="POST" action="/admin/article/<%= article._id%>?_method=DELETE">
                                    <button class="btn-delete">Delete</button>
                                </form>
                            </td>
                        </tr>
                        <% } %>
                        <!-- Add more rows as needed -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
