<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MERUPULU NEWS</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body class="post-article-page">
    <header>
      <h1>Merupulu News App Admin Dashboard</h1>
      <!-- Add any navigation or user information here if needed -->
    </header>

    <div class="container">
      <!-- sidebar -->
      <%- include('./partials/sidebar')%>

      <div class="main-content">
        <!-- Post Article Form -->
        <h2>Edit Article</h2>
        <div class="post-article-form">
          <form
            action="/admin/article/<%=article._id%>?_method=PUT"
            method="POST"
          >
            <div class="breaking-news-checkbox">
              <label for="breaking-news">Breaking News</label>
              <input type="checkbox" id="breaking-news" name="isBreaking" value
              = true <%= article.isBreaking === true ? 'checked' : '' %>>
            </div>
            <div class="form-group">
              <label for="article-title">Title:</label>
              <input
                type="text"
                name="title"
                id="article-title"
                required
                value="<%= article.title %>"
              />
            </div>

            <!-- <div class="form-group">
              <label for="article-description">Short Description:</label>
              <textarea id="article-description" rows="3" required name="desc">
<%= article.description %></textarea
              >
            </div> -->

            <div class="form-group">
              <label for="article-content">Content:</label>
              <textarea
                id="article-content"
                rows="6"
                maxlength="470"
                
                required
                name="content"
              >
<%= article.content %></textarea
              >
            </div>

            <div class="form-group">
              <label for="article-author">Reporter:</label>
              <input
                type="text"
                name="author"
                id="article-author"
                required
                value="<%= article.author %>"
              />
            </div>

            <div class="form-group">
              <label for="article-source">Place:</label>
              <input
                type="text"
                name="source"
                id="article-source"
                required
                value="<%= article.source %>"
              />
            </div>

            <div class="form-group">
              <label for="article-category">Category:</label>
              <select id="article-category" required name="category">
                <% const finalSentence =
                article.category.replace(/(^\w{1})|(\s+\w{1})/g, letter =>
                letter.toUpperCase());%>
                <option value="<%= article.category %>">
                  <%= finalSentence %>
                </option>
                <option value="telangana">Telangana</option>
                <option value="andhra pradesh">Andhra Pradesh</option>
                <option value="national">National</option>
                <option value="global">Global</option>
                <option value="educational">Study/Career</option>
                <option value="political">Political</option>
                <option value="cinema">Cinema</option>
                <option value="business">Business</option>
                <option value="sports">Sports</option>
                <option value="crime">Crime</option>
                <option value="health">Health</option>
                <option value="lifestyle">Lifestyle</option>
                <option value="devotional">Devotional</option>
                <option value="astrology">Astrology</option>
                <option value="weather">Weather</option>
                <!-- Add more options as needed -->
              </select>
            </div>

            <!-- from gallery input -->
            <div class="form-group">
              <label for="article-url">Gallery resource url</label>
              <input
                type="text"
                id="article-url"
                placeholder="It will be auto filled when you select image/video form gallery"
              />
              <button
                type="button"
                class="btn-select-image btn-upload-image"
                id="select-from-gallery"
              >
                Select Image from Gallery
              </button>
              <div class="thmb_holder0" style="display: none">
                <img id="thumbnail_gallery" style="display: none" />
              </div>
            </div>
            <diV>
              <button type="button" class="btn-upload-image" id="upload_widget">
                Upload Image
              </button>

              <div class="thmb_holder1" style="display: none">
                <img id="thumbnail_img" style="display: none" />
              </div>

              <div>
                <input
                  class="hide"
                  style="display: none"
                  type="url"
                  id="url"
                  name="url"
                />
              </div>
            </diV>

            <!-- videoupload -->
            <diV>
              <button
                type="button"
                class="btn-upload-image"
                id="upload_widget2"
              >
                Upload Video
              </button>

              <div class="thmb_holder2">
                <img id="thumbnail_vid" style="display: none" />
              </div>

              <div>
                <input
                  style="display: none"
                  type="url"
                  id="videoUrl"
                  name="videoUrl"
                />
              </div>
            </diV>

            <button type="submit" class="btn-post-article">Post Article</button>
          </form>
        </div>
      </div>
    </div>

    <script
      src="https://widget.cloudinary.com/v2.0/global/all.js"
      type="text/javascript"
    ></script>

    <script src="/upload_widget.js"></script>
  </body>
</html>
