<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MERUPU NEWS</title>
    <link rel="stylesheet" href="/dashboard.css" />
  </head>
  <body>
    <header>
      <h1>Merupu News App Admin Dashboard</h1>
      <!-- Add any navigation or user information here if needed -->
    </header>

    <div class="container">
      <!-- sidebar -->
      <%- include('./partials/sidebar')%>
      <form style="margin: 0px; width: 100%">
        <div style="width: 100%" class="main-content">
          <!-- All Articles Table -->
          <h2>Published News</h2>
          <div class="articles-table">
            <!-- Table to display all articles -->
            <table>
              <thead>
                <tr>
                  <th></th>
                  <th>Title</th>
                  <th>Reporter</th>
                  <th>Date</th>
                  <th>District</th>
                  <th>Image</th>
                  <th>Video</th>
                </tr>
              </thead>

              <tbody>
                <!-- Populate table rows with all articles from the database -->
                <% for (let article of articles) { %>
                <tr style="cursor: pointer;">
                  <% date = article.publishedAt.toString().substring(0,16) %> <%
                  title = article.title.toString().substring(0,50) %>
                  <td id="article">
                    <input
                      type="checkbox"
                      name="articleId"
                      value="<%= article._id %>"
                    />
                  </td>
                  <label for="article">
                    <td><%= title %></td>
                    <td><%= article.author %></td>
                    <td><%= date %></td>
                    <td style="font-size: x-small; height: min-content">
                      <span style="background-color: yellow"
                        ><%= article.district %></span
                      >
                    </td>
                    <td
                      style="cursor: pointer"
                      onclick="window.location.href='<%= article.url %>'"
                    >
                      <%= article.url === "" ? '❌' : '✔️' %>
                    </td>
                    <td
                      style="cursor: pointer"
                      onclick="window.location.href='<%= article.videoUrl %>'"
                    >
                      <%= article.videoUrl === "" ? '❌' : '✔️' %>
                    </td>
                  </label>
                </tr>
                <% } %>
                <!-- Add more rows as needed -->
              </tbody>
            </table>
          </div>
        </div>

        <button id="smt-btn" type="submit">Delete</button>
      </form>
    </div>

    <script>
      //for checkbox
      document.querySelectorAll("table tr").forEach((row) => {
        row.addEventListener("click", function () {
            if (event.target.type !== 'checkbox') {
          const checkbox = this.querySelector('input[type="checkbox"]');
          if (checkbox) {
            checkbox.click(); // Trigger a click event on the checkbox
          }
        }
        });
    
      });

      //for dlt api call
      document
        .getElementById("smt-btn")
        .addEventListener("click", async function () {
          const selectedArticleIds = [];
          const checkboxes = document.getElementsByName("articleId");

          checkboxes.forEach((checkbox) => {
            if (checkbox.checked) {
              selectedArticleIds.push(checkbox.value);
            }
          });

          if (selectedArticleIds.length > 0) {
            try {
              const response = await fetch(
                "/admin/articles/multi?_method=DELETE",
                {
                  method: "DELETE",
                  headers: {
                    "Content-Type": "application/json",
                  },
                  body: JSON.stringify({ selectedArticleIds }),
                }
              );

              if (response.ok) {
                // Provide feedback to the user
                alert("Selected articles deleted successfully");
                // You can also update the page to reflect the changes if needed
              } else {
                alert("Error deleting articles");
              }
            } catch (error) {
              console.error(error);
            }
          } else {
            alert("Please select articles to delete.");
          }
        });
    </script>
  </body>
</html>
